body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #222;
  color: #f4f4f4;
}

body.dark-mode h1 {
  color: #f4f4f4;
}

body.dark-mode button {
  background-color: #555;
}

#darkModeButton {
  margin-left: 10px;
}
